In [2]:
import sqlite3 as sql

In [63]:
conn = sql.connect(':memory:')

In [64]:
cur = conn.cursor()

In [65]:
cur.executescript(
    """
        drop table if exists artist;
        drop table if exists genre;
        drop table if exists album;
        drop table if exists track;
    
    
        CREATE TABLE artist (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
            name TEXT
        );

        
        CREATE TABLE Genre (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
            name TEXT
        );

        
        CREATE TABLE Album (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
            title TEXT,
            artist_id INTEGER
            );
        
        CREATE TABLE Track (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
            title TEXT,
            length INTEGER,
            rating INTEGER,
            count INTEGER,
            album_id INTEGER,
            genre_id INTEGER
            );

        
        insert into Artist (name) values ('Led Zepplin');
        insert into Artist (name) values ('AC/DC');

        
        insert into Genre (name) values ('Rock');
        insert into Genre (name) values ('Metal');
        
        insert into Album (title, artist_id) values ('Who Made Who', 2);
        insert into Album (title, artist_id) values ('IV', 1);

        insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297, 0, 2, 1);
        insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482, 0, 2, 1);
        insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313, 0, 1, 2);
        insert into Track (title, rating, length, count, album_id, genre_id) values ('Who Made Who', 5, 207, 0, 1, 2);

        
"""
)

In [66]:
cur.execute("select * from track")

In [67]:
print(cur.fetchall())

[(1, 'Black Dog', 297, 5, 0, 2, 1), (2, 'Stairway', 482, 5, 0, 2, 1), (3, 'About to Rock', 313, 5, 0, 1, 2), (4, 'Who Made Who', 207, 5, 0, 1, 2)]

In [68]:
cur.execute("select * from artist, album")
# cur.execute("select * from artist join album")

In [69]:
for row in cur.fetchall():
    print(row)

(1, 'Led Zepplin', 1, 'Who Made Who', 2)
(1, 'Led Zepplin', 2, 'IV', 1)
(2, 'AC/DC', 1, 'Who Made Who', 2)
(2, 'AC/DC', 2, 'IV', 1)

In [37]:
cur.execute("select * from artist as a join album as b on a.id = b.artist_id order by id")

In [38]:
for row in cur.fetchall():
    print(row)

(1, 'Led Zepplin', 2, 'IV', 1)
(2, 'AC/DC', 1, 'Who Made Who', 2)

In [41]:
cur.execute("select * from album as a join track as b on a.id = b.album_id")

In [42]:
for row in cur.fetchall():
    print(row)

(2, 'IV', 1, 1, 'Black Dog', 297, 5, 0, 2, 1)
(2, 'IV', 1, 2, 'Stairway', 482, 5, 0, 2, 1)
(1, 'Who Made Who', 2, 3, 'About to Rock', 313, 5, 0, 1, 2)
(1, 'Who Made Who', 2, 4, 'Who Made Who', 207, 5, 0, 1, 2)

In [50]:
cur.execute("select a.title, b.name, c.title, d.name \
             from track as a, artist as b, album as c, genre as d \
             where a.album_id=c.id and a.genre_id=d.id and c.artist_id=b.id");

print('찾아쏭')

찾아쏭

In [71]:
for row in cur.fetchall():
    print(row)

In [73]:
cur.execute("select * from track")

In [70]:
conn.execute("insert into track (title) values ('아무거나')")

In [74]:
print(cur.fetchall())

[(1, 'Black Dog', 297, 5, 0, 2, 1), (2, 'Stairway', 482, 5, 0, 2, 1), (3, 'About to Rock', 313, 5, 0, 1, 2), (4, 'Who Made Who', 207, 5, 0, 1, 2), (5, '아무거나', None, None, None, None, None)]

In [80]:
cur.execute("select * from album left join track on album.id=track.album_id")

In [81]:
print(cur.fetchall())

[(1, 'Who Made Who', 2, 3, 'About to Rock', 313, 5, 0, 1, 2), (1, 'Who Made Who', 2, 4, 'Who Made Who', 207, 5, 0, 1, 2), (2, 'IV', 1, 1, 'Black Dog', 297, 5, 0, 2, 1), (2, 'IV', 1, 2, 'Stairway', 482, 5, 0, 2, 1)]

In [82]:
cur.execute("select * from track left join album on album.id=track.album_id")

In [83]:
print(cur.fetchall())

[(1, 'Black Dog', 297, 5, 0, 2, 1, 2, 'IV', 1), (2, 'Stairway', 482, 5, 0, 2, 1, 2, 'IV', 1), (3, 'About to Rock', 313, 5, 0, 1, 2, 1, 'Who Made Who', 2), (4, 'Who Made Who', 207, 5, 0, 1, 2, 1, 'Who Made Who', 2), (5, '아무거나', None, None, None, None, None, None, None, None)]

In [ ]:
for row in cur

In [84]:
with open("test.dump","w") as f:
    for line in conn.iterdump():
        f.write("%s\n" %(line))