In [ ]:
import sqlite3

In [2]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [3]:
from sqlalchemy import create_engine, MetaData

In [4]:
from sqlalchemy.ext.declarative import declarative_base

In [5]:
from sqlalchemy.orm import sessionmaker

In [6]:
engine = create_engine("sqlite:///:memory:", echo = True)

In [7]:
Base = declarative_base()

In [8]:
class Artist(Base):
    __tablename__ = "Artist"
    
    id = Column (Integer, primary_key = True)
    name = Column(String)
    extend_existing=True
    
class Album(Base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    extend_existing=True
    
class Genre(Base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    extend_existing=True
    
class Track(Base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key = True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    extend_existing=True

In [9]:
from sqlalchemy.orm import sessionmaker

In [10]:
metadata = MetaData()

In [11]:
metadata.create_all(engine)

2018-07-12 13:27:09,382 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 13:27:09,384 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 13:27:09,386 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 13:27:09,388 INFO sqlalchemy.engine.base.Engine ()

In [12]:
Session = sessionmaker(bind=engine)

In [13]:
session = Session()

In [20]:
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name="AC/DC")

In [21]:
session.add_all([artist1, artist2])

In [22]:
session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) no such table: Artist [SQL: 'INSERT INTO "Artist" (name) VALUES (?)'] [parameters: ('Led Zepplin',)] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
session.add_all([artist1, artist2])
session.commit()

album = [Album(title="IV", artist_id = artist1.id),
         Album(title="Who Made Who", artist_id=artist2.id)
        ]

session.add_all(album)
session.commit()

session.add_all([Genre(name="Rock"), Genre(name="Metal)]")])
session.commit()

album1 = session.query(Album).filter(Album.artist_id==artist1.id).one()
album2 = session.query(Album).filter(Album.artist_id==artist2.id).one()

genre1 = session.query(Genre).filter(Genre.name=="Rock").filter(Genre.id==1).one()
genre2 = session.query(Genre).filter(Genre.name=="Metal").filter(Genre.id==2).one()

track = [Track(title="Black Dog", rating = 5, length = 297, count = 0, album_id=album1.id, genre_id = genre1.id),
         Track(title="Stairway", rating = 5, length = 482, count = 0, album_id=album1.id, genre_id = genre2.id),         
         Track(title="About to rock", rating = 5, length = 313, count = 0, album_id=album2.id, genre_id = genre1.id),   
         Track(title="Who Made Who", rating = 5, length = 297, count = 0, album_id=album2.id, genre_id = genre2.id) 
        ]

session.add_all(track)
session.commit()